#prefUI-dialog-title {
    margin-left:10px;
}
/*
.prefUI-body{
    width:600px;
}*/

.prefUI-body div {
    clear: both;
    margin-bottom: 15px;
}

.prefUI-body form {
    width:100%;
    min-height:300px;
}

.prefUI-body form input{
   margin-left:15px;
   float: left;
}

.prefUI-body form label{
    width: 25%;
    text-align: right;
    float: left;
    margin-left: 20px;
}

.no-magin{
    width: 10%;
    text-align: right;
    float: left;
    margin-left: 0px;
}

.prefUI-proxy-pref {
    margin-left: 120px;
}

.prefUI-proxy-pref div span {
    float: left;
    margin-left:15px;
}